.banner{
    display: flex;
    align-items:center;
    margin: 1%;
    margin-bottom: 0;
}
.banner .banner-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner .banner-container img{
    width: 100%;
    border-radius: 5px;
}