.create-product{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(252, 203, 211, 0.205);
    height: fit-content;

}

.create-product .form{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    padding: 1%;
    border-radius: 5px;
    box-shadow: 0.5px 0px 2px rgba(219, 219, 219, 0.356),
                -0.5px 0px 2px rgba(219, 219, 219, 0.356);
    padding: 0 15px;              
    padding-bottom: 30px;
}

.create-product .form .inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.create-product .form .inputs textarea{
    width: 100%;
    height:45px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.308);
    padding-left: 10px;
    outline: none;
    font-size: 12px;
}
.create-product .form .inputs select{
    width: 100%;
    height:45px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.308);
    padding-left: 10px;
    outline: none;
    font-size: 12px;
}
.create-product .form .inputs input{
    width: 100%;
    height:45px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.308);
    padding-left: 10px;
    outline: none;
    font-size: 12px;
}
.create-product .form .inputs .priceandstock{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.create-product .form .inputs .priceandstock input{
    width: 49%;
    height:45px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.308);
    padding-left: 10px;
    outline: none;
    font-size: 12px;
}
.create-product .form .title{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
}

.create-product .form .btn{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 85, 85);
    color: white;
    font-weight: 500;
    border-radius: 5px;
}

@media (min-width:425px){
    .create-product .form{
        width: 350px;
    }
}