.fashion{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 15px;
}
.sort{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.sort .sort-container{
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.185);
    border-radius: 5px;
    height: 50px;
}
.sort .sort-container .left{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 20px;
    width: 45%;
}
.sort .sort-container .left div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

.sort .sort-container .left div img{
    width: 70%;
}
.sort .sort-container .left div:hover{
    background-color: rgb(211, 210, 210);
    cursor: pointer;
}
.sort .sort-container .right{
    padding: 0 10px;
    color: rgba(0, 0, 0, 0.664);
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sort .sort-container .right div{
    background-color: rgba(255, 255, 255, 0.562);
    padding: 5px 7px;
    text-align: center;
    border-radius: 3px;
    font-size: 11px;
    width: 100px;
    font-weight: bolder;
    margin-left: 5px;
}