.nav-1{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
}
.nav-1 .nav-1-left{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.nav-1 .nav-1-left img{
    width: 100%;
}
.nav-1 .nav-1-middle{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 40%;
    height: 60%;
    background-color: rgba(143, 143, 143, 0.26);
    border-radius: 5px;
}
.nav-1 .nav-1-middle .serch-box{
    height: 100%;
    width: 100%;
}
.nav-1 .nav-1-middle .serch-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
    letter-spacing: 1px;
}
.nav-1 .nav-1-middle .serch-icon{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    cursor: pointer;
}
.nav-1 .nav-1-middle .serch-icon img{
    width: 50%;
}
.nav-1 .nav-1-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 50px;
}
.nav-1 .nav-1-right .auth{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.nav-1 .nav-1-right .auth div{
    padding-right:10px ;
    padding-left: 10px;
}
.nav-1 .nav-1-right .auth .link{
    text-decoration: none;
    color: black;
}
.nav-1 .nav-1-right .auth div .link:hover{
    color: tomato;
    cursor: pointer;
}
.nav-1 .nav-1-right .auth .login{
    border-right: 2px solid rgba(0, 0, 0, 0.459);
}
.nav-1 .nav-1-right .nav-btns{
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-1 .nav-1-right .nav-btns div{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;
    position: relative;
}
.nav-1 .nav-1-right .nav-btns div:hover{
    background-color: rgba(78, 78, 78, 0.103);
    cursor: pointer;
    transition: 0.5s;
}
.nav-1 .nav-1-right .nav-btns div img{
    width: 70%;
}
@media (max-width:760px){
    .nav-1 {
        height: 60px;
    }
   .nav-1 .nav-1-middle{
    display: none;
   }
   .nav-1 .nav-1-right{
    justify-content: right;
    padding-right: 5px;
   }
   .nav-1 .nav-1-right .auth{
    display: none;
   }
   .nav-1 .nav-1-right .nav-btns .wish{
    visibility: hidden;
   }
}
