.nav-2{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 60px;
    z-index: 100;
    box-shadow: 0cqmax 0.5px 2px rgba(0, 0, 0, 0.404);
}

.categories {
    display: flex;
    align-items: center;
    justify-content: start;
    height: fit-content;
    min-width: 100%;
    background-color: white;
    overflow: auto;
    scroll-behavior: smooth;
    padding-left: 25px;
    padding-right: 25px;
    height: 40px;
    overflow-y: hidden;
}
.categories::-webkit-scrollbar{
    display: none;
}
.categories .category {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    margin-top:2px;
}

.categories .category h6 {
    height: 100%;
    color: black;
    border-radius: 3px;
    padding: 5px 5px;
    font-size: 12px;
    border: 1px solid rgba(0, 0, 0, 0);
    font-weight: bold;
}
.categories .category h6:hover {
    color: tomato;
    cursor: pointer;
    transition: 0.2s;
}
.nav2-btns{
    display: flex;
    justify-content: center;
    position: sticky;
    top: 60px;
    z-index: 101;
}
.nav2-btns div{
    width: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-top: 5px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.925);
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
.nav2-btns .left{
    position: absolute;
    left: 0;
    z-index: 101;
    top: -1px;
}
.nav2-btns .right{
    position: absolute;
    right: 0;
    z-index: 101;
    top: -1px;
}

@media (min-width:620px) {
    .nav2-btns{
        display: none;
    }
    .categories{
        display: flex;
        justify-content: right;
        padding-right: 0;
        padding-left: 0;    }
}
