.nav-3{
    position: sticky;
    z-index: 102;
    bottom: 0px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.nav-3-container{
    width: 100%;
    background-color: rgba(220, 220, 220, 0.932);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-3-container .options{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.nav-3 .nav-3-container .options .option-img{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-3 .nav-3-container .options .option-img img{
    width: 100%;
}
.nav-3 .nav-3-container .options .option-text{
    font-size: 10px;
    color: black;
}

@media (min-width:760px) {
    .nav-3{
        display: none;
        visibility: hidden;
    }
}